{% extends "audiocloud/base.html" %}

{% block content %}

<div class="container">
  <div class="row d-flex justify-content-center">
    <h1 align="center" style="font-weight: bold;"><span style="color: rgb(255, 0, 119)">Audio</span><span>cloud</span></h1>
  </div>

  <div class="row d-flex justify-content-center">
    <div align="center">
      <p>
        {% load static %} <img src="{%static "audiocloud/img/audiocloud.png" %}" alt="audiocloud" width="170px"/>
      </p>
    </div>
  </div>

  <div class="row d-flex justify-content-center">
    <h1 align="center" style="font-weight: bold;">Sign up</h1>
  </div>

  <div class="row d-flex justify-content-center">
    <div align="center">

      <form method="post">
        {% csrf_token %}
      
        {{ form.as_p }}
      
        <button type="submit">Sign Up</button>
      
      </form>
    </div>
    
  </div>

  <div class="row d-flex justify-content-center">
    <p align="center">
      <br>
      <a href="/audiocloud/signin" style="color: rgb(255, 0, 119);">Already have an account? Login</a>
    </p>
  </div>
</div>

{% endblock %}